/* stylisation du header */

header.main-header{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 18px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-02);
}
/* faire des liens sans décoration pour faire apparaître le soulignement */

header a {
    position: relative;
    outline: none;
    text-decoration: none;
    color: var(--color-02);
}

/* désactivé la couleur des liens violets */

header nav a:visited {
    color: var(--color-02);
}

/* faire le soulignement des liens */
header nav a:hover {
    color: var(--color-02);
}

header nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-04);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

header nav a:hover::before {
    transform: scaleX(1);
}

/* disposition des éléments du header, logo et lien d'un côté*/
header.main-header .main-navigation {
    display: flex;
    gap: 50px;
}
/* disposition des éléments des liens*/
header.main-header nav ul {
    display: flex;
    gap: 90px;
} 

/* faire disparaitre les liens en responsive */
/* à remplacer par un menu hamburger */
@media screen and (max-width: 1080px) {
    .main-header nav {
        visibility: hidden  ;
    }
}