header.main-header{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 18px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: var(--color-02);
}
header a {
    outline: none;
    text-decoration: none;
}

header nav a:visited {
    color: var(--color-02);
}

header nav a:hover {
    border-bottom: 1px solid;
}

header.main-header .main-navigation {
    display: flex;
    gap: 50px;
}

header.main-header nav ul {
    display: flex;
    gap: 90px;
} 