@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
    background-color: var(--color-01);
}

.container {
    max-width: 1770px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.voirplus {
    font-size: 18px;
    background-color: var(--color-04);
    color: var(--color-01);
    padding:10px 20px;
    display: block;
    width: fit-content;
    outline: none;
    text-decoration: none;
}

.expo-du-moment {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 60% 30%;
    align-items: end;
    gap: 50px;
}

.bloc {
    width: 100%;
    height: 500px;
    background-color: var(--color-04);
    display: flex;
    align-items: end;
    justify-content: end;
}

.text-expo {
    max-width: 800px;
}

.hero-image {   
    background:var(--color-01);
    margin-bottom: -100px;
    margin-right: 100px;
}

.hero-image img {
    width: 500px;
    height: auto;
}

@media screen and (max-width: 1080px) {

    body{
        width: fit-content;
    }
    .expo-du-moment {
        grid-template-columns: 1fr;
        gap: 100px;
    }


    .bloc{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .hero-image {
        margin-bottom: -200px;
    }
    .text-expo {
        max-width: 80%;
        justify-self: center;
    }

}