* {
    font-size: 18px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.titre-1 {
    font-size: 48px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 10px;
    transform: rotate(-8deg);
}

.titre-3 {
    font-size: 32px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 30px 0px;

}

.titre-4 {
    font-size: 20px;
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: normal;
    margin: 20px 0px;

}

.text-body {
    font-size: 18px;
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0px;

}